<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Teknosa | Herkes İçin Teknoloji - Teknosa Alışveriş Sitesi</title>
		<link rel="stylesheet" href="s.css">
		<link rel="icon" href="img\favicon-32x32.png">
		<script src="vuejs\vue.js"></script>
	</head>
	<body style="font-family: proxima-nova, sans-serif;font-style: normal;">
		<div id="indexscript">
			<scroll-button></scroll-button>
			<smiley-button :pref="false"></smiley-button>

			<custom-header :pref="false"></custom-header>

			<div style="background-color: rgb(243,243,243)">
				<navbar :pref="false"></navbar>

				<div class="someotherlinks">
					<p> </p>
					<span style="display: grid; grid-template-columns: 15% 85%">
						<img src="img\customer-satisfaction.svg" alt="customer satisfaction" style="width: 28px;height: 28px">
						<a style="margin-top: 4%" class="sl" href="#"> %100 MÜŞTERİ MEMNUNİYETİ</a>
					</span>
					<span style="display: grid; grid-template-columns: 15% 85%">
						<img src="img\aynigun.png" alt="Aynı gün teslim" style="width: 28px;height: 28px">
						<a style="margin-top: 4%" class="sl" href="#"> AYNI GÜN VE ERTESİ GÜN TESLİMAT</a>
					</span>
					<span style="display: grid; grid-template-columns: 15% 85%">
						<img src="img\teslim.png" alt="Mağazadan teslim" style="width: 28px;height: 28px">
						<a style="margin-top: 4%" class="sl" href="#"> AYNI GÜN MAĞAZADAN TESLİM</a>
					</span>
					<span style="display: grid; grid-template-columns: 15% 85%">
						<img src="img\iade.png" alt="İade" style="width: 28px;height: 28px">
						<a style="margin-top: 4%" class="sl" href="#"> KOLAY İADE</a>
					</span>
					<p> </p>
				</div>

				<div class="tenpercent">
					<a v-if="visnum == 0" class="hoverlinks" href="#"><img src="img\sepetteindirim.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 1" class="hoverlinks" href="#"><img src="img\haftanınurunu.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 2" class="hoverlinks" href="#"><img src="img\60aytaksit.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 3" class="hoverlinks" href="#"><img src="img\iphone.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 4" class="hoverlinks" href="#"><img src="img\huawei.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 5" class="hoverlinks" href="#"><img src="img\sharp.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 6" class="hoverlinks" href="#"><img src="img\monster.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 7" class="hoverlinks" href="#"><img src="img\lgdolap.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 8" class="hoverlinks" href="#"><img src="img\gopro.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 9" class="hoverlinks" href="#"><img src="img\lgdolap.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 10" class="hoverlinks" href="#"><img src="img\egiticirobot.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 11" class="hoverlinks" href="#"><img src="img\asus.jpg" style="width: 100%;height: 50%;"></a>
					<a v-if="visnum == 12" class="hoverlinks" href="#"><img src="img\philips.jpg" style="width: 100%;height: 50%;"></a>
				</div>

				<div class="discounts">
					<a v-on:mouseover="visnum = 0" class="discountlink" href="#"><img src="img\sepetteindirimlogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 1" class="discountlink" href="#"><img src="img\haftanınurunulogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 2" class="discountlink" href="#"><img src="img\60aylogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 3" class="discountlink" href="#"><img src="img\iphonelogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 4" class="discountlink" href="#"><img src="img\huaweilogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 5" class="discountlink" href="#"><img src="img\sharplogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 6" class="discountlink" href="#"><img src="img\monsterlogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 7" class="discountlink" href="#"><img src="img\lglogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 8" class="discountlink" href="#"><img src="img\goprologo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 9" class="discountlink" href="#"><img src="img\lglogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 10" class="discountlink" href="#"><img src="img\egiticirobotlogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 11" class="discountlink" href="#"><img src="img\asuslogo.jpg" style="width: 60px;height: 45px;"></a>
					<a v-on:mouseover="visnum = 12" class="discountlink" href="#"><img src="img\philipslogo.jpg" style="width: 60px;height: 45px;"></a>
				</div>

				<a class="tenpercent" href="#"><img src="img\ghost_kategori_ing_190730.jpg" style="width: 80%;"></a>

				<sliding-menu :pref="false" img0="img/f0.png" img1="img/f1.png" img2="img/f2.png" img3="img/f3.png" img4="img/f4.png" img5="img/f5.png" img6="img/f6.png" img7="img/f0.png" img8="img/f7.png" img9="img/f8.png" title="Günün Fırsatları"></sliding-menu>

				<a class="tenpercent" href="#"><img src="img\bant_180plus_190911.jpg" style="width: 80%;"></a>

				<div class="gridlinks" style="margin-left: 10%;margin-right: 10%;">
					<a href="#"><img src="img\widget0.jpg" style="width: 100%;"></a>
					<a href="#"><img src="img\widget1.jpg" style="width: 100%;"></a>
					<a href="#"><img src="img\widget2.jpg" style="width: 100%;"></a>
					<a href="#"><img src="img\widget3.jpg" style="width: 100%;"></a>
					<a href="#"><img src="img\widget4.jpg" style="width: 100%;"></a>
					<a href="#"><img src="img\widget5.jpg" style="width: 100%;"></a>
				</div>

				<img src="img\bant_kategori_bonus_tv_190614_.jpg" class="tenpercent" style="width: 80%;">

				<sliding-menu :pref="false" img0="img/f0.png" img1="img/f1.png" img2="img/f2.png" img3="img/f3.png" img4="img/f4.png" img5="img/f1.png" img6="img/f6.png" img7="img/f0.png" img8="img/f3.png" img9="img/f8.png" title="Bu Ürünler Çok Popüler"></sliding-menu>
			</div>

			<bottompage :pref="false"></bottompage>

			<custom-footer :pref="false"></custom-footer>
		</div>

		<script src="index.js"></script>
	</body>
</html>
